@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --ColorWhite: #F4F9F9;
    --ColorGray: #545454;
    --ColorGray2: #333333;
    --ColorPink: #EA4FE7;
    --ColorPink2: #BF35BC;
    --ColorRed: #EA5455;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    height: 100vh;
    background-image: url(Imagens/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 40vh;
    width: 95vw;
    gap: 20px;
    padding-left: 400px;
}

.box1 h1 {
    font-size: 64px;
    color: var(--ColorWhite);
}

.box1 span {
    font-size: 22px;
    color: var(--ColorWhite);
}

.box1 ul {
    display: flex;
    flex-direction: row;
}

.box1 li {
    padding-right: 10px;
}

.box1 img {
    height: 70px;
    width: 100%;
    object-fit: cover;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 5vw;
    border-radius: 10px 0 0 10px;
    background-color: var(--ColorWhite);
}

.box2 ul {
    display: flex;
    flex-direction: column;
}

.box2 li {
    padding-top: 10px;
    color: var(--ColorWhite);
}

.box2 img {
    height: 30px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.box2 a {
    font-size: 18px;
    color: var(--ColorWhite);
}

.arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.arrow span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--ColorWhite);
    border-right: 2px solid var(--ColorWhite);
    animation: animate 1.5s linear infinite;
}

.arrow span:nth-of-type(1) {
    transform: translate(-15px, -15px);
    animation-delay: -0.4s;
}

.arrow span:nth-of-type(2) {
    transform: translate(0, 0);
    animation-delay: -0.2s;
}

.arrow span:nth-of-type(3) {
    transform: translate(15px, 15px);
    animation-delay: 0s;
}

@keyframes animate {
    0% {
        top: -5px;
        left: -5px;
        opacity: 0;
    }

    25% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }

    50%,
    100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}

/*Sobre*/

.sobre {
    height: 100vh;
}